{% extends 'base.html' %}

{% block title %}Editar Hábito{% endblock %}

{% block content %}
    <article>
        <header>
            <strong>Editar Hábito</strong>
        </header>
        
        <form method="POST">
            <label for="habit_name">Nome do Hábito</label>
            <input type="text" name="habit_name" id="habit_name" value="{{ habit.name }}" required>
            
            <div class="grid">
                <button type="submit">Salvar Alterações</button>
            
                <button type="button" class="secondary outline" onclick="window.location.href='{{ url_for('routes.home') }}'">
                    Cancelar
                </button>
            </div>
        </form>
    </article>
{% endblock %}